@font-face {
    font-family: 'San Francisco Display Medium';
    src: url('SFUIDisplay-Medium.eot');
    src: url('SFUIDisplay-Medium.eot?#iefix') format('embedded-opentype'),
    url('SFUIDisplay-Medium.woff') format('woff'),
    url('SFUIDisplay-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }