@font-face {
    font-family: 'San Francisco Display Light';
    src: url('SFUIDisplay-Light.eot');
    src: url('SFUIDisplay-Light.eot?#iefix') format('embedded-opentype'),
    url('SFUIDisplay-Light.woff') format('woff'),
    url('SFUIDisplay-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }